<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    
    <header>
        <a href="#" class="logo">
            <img src="../assets/logo.svg" alt="logo personalizado">
            <h2 class="nombre-empresa">Diseño</h2>
            <h2 class="mul">Multimedia</h2>
        </a>
        <nav>
            <a href="../index.html"class="nav-link">INICIO</a>
            <a href="Nosotros.html" class="nav-link">NOSOTROS</a>
            <a href="Servicios.html" class="nav-link">SERVICIOS</a>
            <a href="Contacto.html" class="nav-link">CONTACTO</a>
        </nav>
    </header>
    <header class="header-1">
    </header>

    <div class="header-2">
        <a>
            <h2 class="subscribete">Subscribete a nuestro boletin</h2>
        </a>

        <form action="#">
            <input type="email" class="campo" placeholder="ingrese el email...">
            <input type="submit" value="Subscribete" class="btn-sub">
        </form>
    </div>

    <div class="contactanos">
        <a>
            <h2>Contacto</h2>
        </a>
    </div>

    <div class="form">
        <form class="custom-form" action="https://formsubmit.co/mariaprascax15@icloud.com" method="POST">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="custom-input" placeholder="Ingrese su Nombre">
    
            <label for="email">Email</label>
            <input type="email" name="name" id="email" class="custom-input" placeholder="Ingrese su email">
    
            <label for="phone">Telefono</label>
            <input type="tel" name="Telefono" id="Telefono" class="custom-input" placeholder="Ingrese su Telefono">
    
            <label for="cellphone">Celular</label>
            <input type="tel" name="Celular" id="Celular" class="custom-input" placeholder="Ingrese su Celular">
    
            <label for="cometarios">Comentarios</label>
            <textarea  name="cometarios" id="comments" class="custom-input" cols="30" rows="5"></textarea>
    
            <input class="btn" type="submit" value="Enviar">
    
            <input type="hidden" name="_next" value="http://127.0.0.1:5500/">
    
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
    

    
    <div class="container-5">
        <div class="Nosotros-5">
            <h2>Que hacemos</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo praesentium unde minus obcaecati nihil,
                repellat consectetur expedita rem fugiat perspiciatis fugit perferendis modi architecto in iusto debitis.
            </p>
        </div>
        <section>
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.58090855922694!2d-75.66823225247616!3d4.540905994907313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5aaa70689d1%3A0x46074d66ee20f3a2!2sSENA%20Centro%20de%20comercio%20y%20turismo%20arma%20enia%20quindio!5e0!3m2!1ses!2sco!4v1715019416524!5m2!1ses!2sco" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
        </section>
    </div>

    <footer>
        <p>
            Graphel Desarrollo Web Copyright © 2017
        </p>
    </footer>


</body>

</html> 
