<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../Styles/styles.css">

</head>

<body>
    <header>
        <a href="#" class="logo">
            <img src="../assets/logo.svg" alt="logo personalizado">
            <h2 class="nombre-empresa">Diseño</h2>
            <h2 class="mul">Multimedia</h2>
        </a>
        <nav>
            <a href="../index.html"class="nav-link">INICIO</a>
            <a href="Nosotros.html" class="nav-link">NOSOTROS</a>
            <a href="Servicios.html" class="nav-link">SERVICIOS</a>
            <a href="Contacto.html" class="nav-link">CONTACTO</a>
        </nav>
    </header>
    <header class="header-1">
    </header>

    <div class="header-2">
        <a>
            <h2 class="subscribete">Subscribete a nuestro boletin</h2>
        </a>

        <form action="#">
            <input type="email" class="campo" placeholder="ingrese el email...">
            <input type="submit" value="Subscribete" class="btn-sub">
        </form>
    </div>

    <div class="Nosotros-1">
        <a>
            <h2>Nosotros</h2>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, in illo, alias repellat ad,
                veniam soluta quasi natus excepturi quidem beatae! Quibusdam doloribus provident enim maxime delectus
                sequi quos maiores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fuga, facilis pariatur
                quam animi voluptas eum obcaecati tenetur quaerat officiis soluta fugiat magni perferendis quidem beatae
                laboriosam, quam animi voluptas eum obcaecati tenetur quaerat officiis soluta fugiat magni.
            </p>
        </a>
    </div>
    <div class="Nosotros-2">
        <a>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem qui, odit quod, eos, expedita officia
                nihil adipisci corrupti nostrum distinctio similique veniam deleniti rerum? Laborum cum necessitatibus
                consequuntur officiis rem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut officiis, omnis
                cumque, aperiam similique harum eaque magni doloribus placeat, reiciendis ullam! Suscipit earum eius
                totam magnam ipsam consequatur corrupti accusantium, cumque, aperiam similique harum eaque magni
                doloribus placeat, reiciendis ullam! Suscipit earum eius
                totam magnam ipsam consequatur corrupti accusantium, totam magnam ipsam consequatur corrupti
                accusantium, cumque, aperiam similique harum eaque magni doloribus placeat, adipisicing elit.
            </p>
        </a>
    </div>

    <div class="Nosotros-3">
    </div>



    <div class="container">
        <div class="Nosotros-4">
            <h2>Que hacemos</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo praesentium unde minus obcaecati nihil,
                repellat consectetur expedita rem fugiat perspiciatis fugit perferendis modi architecto in iusto debitis.
            </p>
        </div>
    </div>

    <footer>
        <p>
            Graphel Desarrollo Web Copyright © 2017
        </p>
    </footer>

</body>

</html>