
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="../assets/logo.svg" alt="logo personalizado">
            <h2 class="nombre-empresa">Diseño</h2>
            <h2 class="mul">Multimedia</h2>
        </a>
        <nav>
            <a href="../index.html"class="nav-link">INICIO</a>
            <a href="Nosotros.html" class="nav-link">NOSOTROS</a>
            <a href="Servicios.html" class="nav-link">SERVICIOS</a>
            <a href="Contacto.html" class="nav-link">CONTACTO</a>
        </nav>
    </header>
    <header class="header-1">
    </header>

    <div class="header-2">
        <a>
            <h2 class="subscribete">Subscribete a nuestro boletin</h2>
        </a>

        <form action="#">
            <input type="email" class="campo" placeholder="ingrese el email...">
            <input type="submit" value="Subscribete" class="btn-sub">
        </form>
    </div>

    <div class="Servicios">
        <h2>
            Servicios
        </h2>
    </div>

    <div class="Servicios-1">
        <a>
            <h2>Diseño Web</h2>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, in illo, alias repellat ad,
                veniam soluta quasi natus excepturi quidem beatae! Quibusdam doloribus.
                <br>
                <br>
                Precio. $300000 - $1000000
  
            </p>
        </a>
    </div>
    <div class="Servicios-1">
        <a>
            <h2>Desarrollo Web</h2>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, in illo, alias repellat ad,
                veniam soluta quasi natus excepturi quidem beatae! Quibusdam doloribus.
                <br>
                <br>
                Precio desde. $1000000
  
            </p>
        </a>
    </div>
    <div class="Servicios-1">
        <a>
            <h2>Hosting Web</h2>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, in illo, alias repellat ad,
                veniam soluta quasi natus excepturi quidem beatae! Quibusdam doloribus.
                <br>
                <br>
                Precio. $300000
  
            </p>
        </a>
    </div>

    <div class="container">
        <div class="Nosotros-4">
            <h2>Que hacemos</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo praesentium unde minus obcaecati nihil,
                repellat consectetur expedita rem fugiat perspiciatis fugit perferendis modi architecto in iusto debitis.
            </p>
        </div>
    </div>

    <footer>
        <p>
            Graphel Desarrollo Web Copyright © 2017
        </p>
    </footer>
</body>
</html>